mtranslate==1.8
google-genai>=1.0.0
requests>=2.31.0
g4f>=0.3.9
mutagen>=1.47.0
py-tgcalls==2.2.11
telethon>=1.36.0
aiocron>=1.8
emoji>=2.10.0
pytz>=2024.1
gtts>=2.5.0
qrcode>=7.4.2
aiohttp>=3.9.0
fake_useragent>=1.5.0
user_agent>=0.1.10
hijri_converter>=2.3.1
gpytranslate>=1.5.4
watchdog>=4.0.0
aiosqlite>=0.20.0
